

    .container{
        background-image: url("https://wallpapercave.com/wp/WFDU5Ac.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-color: darkslategrey
    }
    .author{
        color: whitesmoke;
        font-size: 25px;
    }